<img id="image_url" src=<%= book.image_url %> >
<H3 id='title'><%= book.title %></H3>
<h4 id="author"><%= book.author %></h4>
<p class="description"><%= book.description %></p>
<p id="isbn" class="hide"><%= book.isbn %></p>