<img class="bookImage" src=<%= book.image_url %> >
<p class="bookTitle"><%= book.title %></p>
<p class="bookAuthor"><%= book.author %></p>
<p class="bookDescription"><%= book.description %></p>
<p id="isbn" class="hide"><%= book.isbn %></p>