<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
  <link rel="stylesheet" href="css/homePage.css">
</head>

<body>
  <%- include ../partials/header.ejs %>

  <h1>Your Books</h1>


  <% library.forEach(shelf => { %>

  <section class="shelf">
    <% shelf.books.forEach(book => { %>
    <article class="book" style="background-image: url('<%=book.image_url%>')">
      <a class="detailsButton" href="/<%= book.id %>"><i class="fas fa-book-open"></i> &nbsp; Details</a>
    </article>
    <% }); %>
  </section>

  <h2 class="shelfLabel" style="width: <%= shelf.name.length * .8 %>em"><%= shelf.name %></h2>

  <% }); %>

  <div id="shelfLegs">
    <div class="shelfLeg"></div>
    <div id="shelfLegsSpacer"></div>
    <div class="shelfLeg"></div>
  </div>

  <%- include ../partials/footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>